.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.link {
    a {
        text-decoration: none !important;
        color: #999;
    }
}

.active {
    a {
        text-decoration: none !important;
        color: black;
    }
}
