.container {
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 95%;
    background-color: white;
    max-width: 800px;

    .footer {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}
